@model IEnumerable<EfBook.Domain.Book>
@{
    ViewData["Title"] = "ListBooksView";
}

<h2>ListBooksView</h2>

@*<form asp-action="SearchForBookByAuthor">
    <button type="submit" onclick="SearchForBookByAuthor" name="search">search</button>
</form>*@
    

@*@foreach (var item in Model)
{
    Console.WriteLine(item.Title);
}*@