
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<a asp-action="CreateAuthor">Add new book</a>
@*<br />
<form asp-action="CreateAuthor">
    <button type="submit" onclick="CreateAuthor" name="CreateAuthor">Add a book</button>
</form>*@
<br />
<a asp-action="Details">View list of books</a>
@*<form asp-action="Details">
    <button type="submit" onclick="Details" name="Details">List books</button>
</form>*@
<br />
