
@{
    ViewData["Title"] = "Index";
}

<h2>Book menu</h2>
@*<a asp-action="CreateAuthor">Add new book</a>*@
<br />
<form asp-action="CreateAuthor">
    <button class="create" type="submit" onclick="CreateAuthor" name="CreateAuthor">Add a book</button>
</form>
<br />
@*<a asp-action="Details">View list of books</a>*@
<form asp-action="Details">
    <button class="details" type="submit" onclick="Details" name="Details">List books</button>
</form>
<br />




<style type="text/css">
    .create {
        background-color: red;
        width: 150px;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 28px;
        border-radius: 8px;
        cursor: pointer;
    }
</style>

<style type="text/css">
    .details {
        background-color: red;
        width: 150px;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 28px;
        border-radius: 8px;
        cursor: pointer;
    }
</style>