
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-action="Create">
    <button type="submit" onclick="Create" name="Add book">Add a book</button>
</form>
<br />
<form asp-action="BookDetails">
    <button type="submit" onclick="BookDetails" name="List books">List book's</button>
</form>
@*<br />
<form asp-action="UpdateBookView">
    <button type="submit" onclick="UpdateBook" name="Update book">Update a Book</button>
</form>
<br />
<form asp-action="DeleteBookView">
    <button type="submit" onclick="DeleteBook" name="Delete book">Delete a Book</button>
</form>*@

